*.csv
!redirects.csv
.env

_build/
*~
.directory
.vs/
.vscode/
*.mo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Common environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User created Python virtual environment as described in the docs
godot-docs-venv/

# Vim temp files
*.swo
*.swp

# Geany/geany-plugins files
*.geany
.geanyprj

# Finder (macOS) makes these automatically.
.DS_Store
__MACOSX

# Windows image file caches
[Tt]humbs.db
[Tt]humbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Windows shortcuts
*.lnk

# Windows folder config file
[Dd]esktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/
logo.h
*.autosave

# Output of list-unused-images.sh tool
tmp-unused-images
tmp-unused-images-history

# Jetbrains IDE files
/.idea/
