31 <31eee384@gmail.com> <331300+31@users.noreply.github.com>
Andreas Haas <liu.gam3@gmail.com>
Andrew Conrad <aconrad103@gmail.com>
Andrii Doroshenko <xrayez@gmail.com>
puchik <puchik@users.noreply.github.com> <48544263+puchik@users.noreply.github.com>
Chris Bradfield <chris@kidscancode.org> <cb@scribe.net>
clayjohn <claynjohn@gmail.com>
clayjohn <claynjohn@gmail.com> <clayjohn@shaw.ca>
corrigentia <coryan25@gmail.com> <20541985+corrigentia@users.noreply.github.com>
DeeJayLSP <djlsplays@gmail.com>
DeeJayLSP <djlsplays@gmail.com> <60024671+DeeJayLSP@users.noreply.github.com>
Frido <f.schermutzki@gmail.com>
Frido <f.schermutzki@gmail.com> <43795127+mega-bit@users.noreply.github.com>
Hana - Piralein <48352564+Piralein@users.noreply.github.com>
hpnrep6 <hpnrep6@gmail.com> <57055412+hpnrep6@users.noreply.github.com>
Hugo Locurcio <hugo.locurcio@hugo.pro> <calinou@opmbx.org>
Hugo Locurcio <hugo.locurcio@hugo.pro> <hugo.l@openmailbox.org>
Ignacio Etcheverry <ignalfonsore@gmail.com> <neikeq@users.noreply.github.com>
jsjtxietian <jsjtxietian@outlook.com>
Julian Murgia <the.straton@gmail.com>
Kelly Thomas <kelly.thomas@hotmail.com.au>
Leon Krause <lk@leonkrause.com>
Leon Krause <lk@leonkrause.com> <eska@eska.me>
Max Hilbrunner <m.hilbrunner@gmail.com>
Max Hilbrunner <m.hilbrunner@gmail.com> <mhilbrunner@users.noreply.github.com>
Michael Alexsander <michaelalexsander@protonmail.com>
Nathan Lovato <nathan@gdquest.com>
Patrick Exner <patrick.exner1@web.de>
Patrick Exner <patrick.exner1@web.de> <codejoke@web.de>
Paul Joannon <hello@pauljoannon.com> <437025+paulloz@users.noreply.github.com>
Poommetee Ketson <poommetee@protonmail.com>
Rémi Verschelde <rverschelde@gmail.com> <remi@verschelde.fr>
skyace65 <matthewehr@hotmail.com>
skyace65 <matthewehr@hotmail.com> <trekie96@hotmail.com>
skyace65 <matthewehr@hotmail.com> <trekie96@Hotmail.com>
TheYellowArchitect <hello@theyellowarchitect.com>
TwistedTwigleg <beard.noah@gmail.com> <Beard.noah@gmail.com>
Will Nations <willnationsdev@gmail.com>
Yuri Rubinsky <chaosus89@gmail.com>
Yuri Sizov <yuris@humnom.net> <pycbouh@users.noreply.github.com>
Yuri Sizov <yuris@humnom.net> <11782833+YuriSizov@users.noreply.github.com>
ZX-WT <ZX-WT@ymail.com> <ZX_WT@ymail.com>
