# Base dependencies

# Sync with readthedocs:
# https://github.com/readthedocs/readthedocs.org/blob/master/requirements/pip.txt
# Stuck on <4 until we can update sphinx-tabs (see below).
sphinx==3.5.4  # pyup: <4
sphinx_rtd_theme==1.0.0

# Code tabs extension for GDScript/C#
# Stay on 1.3.0 until https://github.com/readthedocs/readthedocs-sphinx-search/issues/82 is fixed.
sphinx-tabs==1.3.0  # pyup: ignore

# Custom 404 error page (more useful than the default)
sphinx-notfound-page==0.8

# Adds Open Graph tags in the HTML `<head>` tag
sphinxext-opengraph==0.6.1

# Full-page search UI for RTD: https://readthedocs-sphinx-search.readthedocs.io
readthedocs-sphinx-search==0.1.1
