# Sync with readthedocs:
# https://github.com/readthedocs/readthedocs.org/blob/master/requirements/pip.txt
# https://github.com/readthedocs/readthedocs.org/blob/master/requirements/docs.txt

# Base dependencies
pygments==2.15.1

# Sphinx base and RTD theme.
sphinx==5.0.2
sphinx_rtd_theme==1.2.1

# Sphinx extensions.

# Code tabs extension to display codeblocks in different languages as tabs.
sphinx-tabs==3.4.1
# Adds a 'copy' button to the right of codeblocks.
sphinx-copybutton==0.5.2
# Custom 404 error page (more useful than the default).
sphinx-notfound-page==0.8.3
# Adds Open Graph tags in the HTML `<head>` tag.
sphinxext-opengraph==0.8.2
