.godot-feedback {
	background-color: #2980B9; /* from RTD theme */
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.godot-feedback a,
.godot-feedback a:link,
.godot-feedback a:visited,
.godot-feedback a:hover,
.godot-feedback a:active {
	border: 2px solid white;
	color: white;
	margin-left: 10px;
	padding: 5px 10px;
	text-decoration: none;
}
